<div class="homepage">
  <div class="banner">
    
    <mat-card-content>
      <div class="banner-container">
        <div class="banner-text">
          <mat-card-title color="primary"><h1>Unfolding Infinite Worlds, One Page at a Time</h1></mat-card-title>
          <p>Embark on an adventure with our library <span class="emoji">📚</span>, your portal <span class="emoji">🚪</span> to worlds unknown <span class="emoji">🌍</span>. Here, curiosity <span class="emoji">🤔</span> meets tales of <span class="highlight">wisdom</span> <span class="emoji">🧠</span> and <span class="underline">wonder</span> <span class="emoji">✨</span>.</p>
          <p>Find the book <span class="emoji">📖</span> that whispers your name, let your imagination soar <span class="emoji">🚀</span>, and step into the magic that awaits. Your next great story <span class="emoji">🎩✨</span> begins here!</p>
        </div>
  
        <img src="../../../../../assets/books.png" alt="">  
      </div>
      
    </mat-card-content>
  </div>
  <!-- <div class="trending-container">
    <div class="trending">
      <mat-card-header>
        <mat-card-title color="primary"><h1>Trending 🔥</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let book of trendingBooks">
          <app-trending-book-card class="treniding-card" [book]="book"></app-trending-book-card>
        </div>
      </mat-card-content> 
    </div>
  </div> -->
</div>