.page-container {
    display: flex;
    flex-direction: row;
    .left-container {
        max-width: 33%;
        max-height: 90vh;
        overflow: scroll;
    }

    .right-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;

        padding: 16px;
    }
}

