<mat-card *ngIf="book" class="book-card">
    <mat-card-header>
      <mat-card-title>{{book.book_title}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{book.description}}</p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button *ngIf="book.available" routerLink="/home" mat-raised-button (click)="rentBook(book)" color="accent">Rent</button>
      <button *ngIf="!book.available" mat-raised-button disabled="true" color="accent">Rent</button>
    </mat-card-actions>
</mat-card>