$background-color: #424242;
$card-background-color: #686868;
$body-background-color: #e8eff1;
$text-color: #35424a;
$link-color: #6ab47b;
$shadow-color: #999;
$text-highlight-color: #ff6347;
$underline-color: #6ab47b;
$box-shadow-color: rgba(0,0,0,0.1);
$decor-shadow-color: #dedede;
$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
