@import "../../../../assets/styles/variables.scss";
.homepage {
  display: flex;
  flex: 1 2 auto;
  justify-content: space-around;
  height: 90vh;

  .mat-card {
    max-width: 600px;
    text-align: center;

    .mat-card-actions {
      justify-content: center;
    }
  }


  .banner {
    width: 66%;
    display: flex;
    align-items: center;

    .banner-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        p {
          font-size: 15px;
          line-height: normal;
        }
        .emoji {
          font-size: 24px;
        }
        
        .highlight {
            color: $text-highlight-color;
            font-weight: bold;
        }
        
        .underline {
            text-decoration: underline;
            text-decoration-color: $underline-color;
        }
        
        h1 {
          font-size: 50px;
          font-weight: 700;
          margin-bottom: 50px;
          line-height: normal;
        }
      }
      img {
        width: 32vw;
      }
    }
  }
}